.ShowCase {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    color: white;
}
  
.ShowCase li {
    margin: 0 12px;
}

.seat {
    display: inline-block;
    background: white;
    border: solid black;
    width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
.seat.selected {
    background: #7bc47f;
}
  
.seat.occupied {
    background: rgb(169, 176, 172);
}

.seat-content {
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.seat-item{
    background-color: white;
    border: solid black;
    width: 45px;
    height: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.seat-item-occupied {
    background: rgb(169, 176, 172);
    border: solid black;
    width: 45px;
    height: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.seat-item-selected {
    background-color: lightgreen;
    border: solid black;
    width: 45px;
    height: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}