.seat-content {
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.seat-item-na{
    padding: 15px;
    width: 50px;
    color:black;
    background-color: rgb(169, 176, 172);
    border: solid;
    border-radius: 10px;
}

.seat-item{
    padding: 15px;
    width: 50px;
    color:black;
    background-color: white;
    border: solid;
    border-radius: 10px;
}

.seat-item-selected {
    padding: 15px;
    width: 50px;
    color:black;
    background-color: lightgreen;
    border: solid;
    border-radius: 10px;
}