.browse-movies {
    margin: 50px;
    align-items: center;
}

.movie-search {
  padding: 0px 0px 10px 70px;
}

form.movie-search input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 35%;
}

form.movie-search button, .search-btn {
  float: left;
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  cursor: pointer;
}

.search-btn {
  color: gray;
}

.filter-option {
  padding-left: 100px;
  float: left;
  
}
  
.search-list {
    padding: 20px 50px;
    list-style: none;
    text-align: center;
  }

.search-list a {
  text-decoration: none;
  color: white;
}

.search-listItem {
    margin: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    padding: 20px;
}
