/*----- General -----*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url("background.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----- Homepage -----*/
header {
  max-width: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.poster-slider {
  margin-top: 40px;
  display: flex;
  overflow: hidden;
}

.imagegroup {
  display: flex;
  width: 100%;
}

.imagegroup img{
  width: 200px;
  height: 300px;
  padding: 5px;
  flex-shrink: 0;
  object-fit: cover;
  border: 0px solid;
}

.imagegroup {
  animation: travel 30s linear infinite;
}

@keyframes travel {
  0%, 100% {
      transform: translate3d(30%,0,0);
  }
  50% {
      transform: translate3d(-5%,0,0);
  }
}

.categories{
  display: block;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}

/*----- Home Page Movie List -----*/
.movie-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 100px;
  padding: 10px;
  overflow: hidden;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 420px;
}

.movie-item p {
  padding-top: 0;
  margin: 10px;
}

.movie-item h3 {
  padding-bottom: 0;
  margin: 0;
}

.movie-item img {
  align-items: center;
  width: 210px;
  height: 300px;
}

.movie-btn {
  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-decoration: none;
}

.movie-item .movie-btn {
  width: 140px;
}

.book-tickets-linkbutton {
  font-size: 14px;
  color: white;
  margin: 15px 0px;
  text-decoration: none;
}

/*----- Login Page, Registration Page, Edit Profile -----*/
.auth {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  border-style: groove;
  border-radius: 20px;
  margin-bottom: 40%;
}

.auth input[type=text], input[type=checkbox], input[type=month], input[type=email], input[type=password]{
  text-align: center;
  width: 95%;
  padding: 12px 16px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid rgb(173, 171, 171);
  box-sizing: border-box;
  border-radius: 10px;
}

.form label{
  text-align: center;
  display: flex;
  flex-direction: column;
} 

.login-links {
  color: white;
  text-align: center;
  padding: 5px 0px;
}

.form input[type=submit] {
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  margin: 0px 10px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/*----- Navigation Bar -----*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px rgba(0, 0, 0, 0.26);
  color: white;
}

nav h1 a{
  color:white;
  text-decoration: none;
  padding-left: 15px;
}

.nav-links {
  color: white;
  list-style: none;
  display: flex;
  padding: 5px;
  padding-right: 15px;
}

.nav-links li {
  display: flex;
  list-style: none;
  padding: 10px;
}

.nav-links a {
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
}

.search-btn {
  color: gray;
}

.search-img {
  float: left;
  padding: 5px;
  width: 30px;
  height: 27px;
  background-color:lightgrey;
  border: 1px solid grey;
}

/*----- Navigation Bar Drop Down Menu -----*/
.menu-dropdown {
  position: relative;
  background-color: none;
}

.dropdown {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  margin-right: 3px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s;
  z-index: 999;
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown li {
  border-bottom: 1px solid #dddddd;
}

.dropdown li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 10px;
  display: block;
}

.dropdown-trigger {
  background: none;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.dropdown-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.dropdown-trigger img {
  border-radius: 90px;
  height: 30px;
  width: 30px;
  padding: 0px 0px 0px 8px;
}

/*----- Browse Movies -----*/
.search-bar {
  text-align: center;
  width: 95%;
  padding: 12px 16px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid rgb(173, 171, 171);
  box-sizing: border-box;
  border-radius: 10px;
}

.browse-movies {
  margin: 50px;
  align-items: center;
}

.movie-search {
  padding: 0px 0px 10px 70px;
}

form.movie-search input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 35%;
}

form.movie-search button, .search-btn {
  float: left;
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  cursor: pointer;
}

.filter-option {
  padding-left: 100px;
  float: left;
}

.search-list {
  padding: 20px 50px;
  list-style: none;
  text-align: center;
}

.search-list a {
  text-decoration: none;
  color: white;
}

.search-listItem {
  margin: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 20px;
}


.no-movies, h2 {
  display: block;
  padding: 20px;
  margin: 10px;
} 

/*----- Trailer Modal -----*/
.individual-movie-buttons {
  background: transparent;
  border: none;
  color:white; 
  font-size: 13px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
}

.modal-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-content {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  background: transparent;
  color: #000;
  margin: 0rem 4rem;
}

.modal-close {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.modal-video-align {
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal-video-style {
  border-radius: 20px;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }
  .modal__video-style {
    height: auto;
  }
}

/*----- Movie Card -----*/
.movie-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
}

.movie-row-items {
  padding: 0px 80px;
}

.movie-row-items2 {
  padding: 0px 50px;
  width: 250px;
  text-align: left;
}

.movie-card img {
  width: 200px;
  height: 280px;
}

.movie-row-items .movie-btn {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  width: 150px;
}

.movie-card a {
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 1080px) {
  .movie-card {
    flex-direction: column;
    justify-content: center;
  }

  .movie-row-items2 {
    text-align: center;
  }
}

/*----- Movie Info Page -----*/
.movie-info {
  padding: 50px 100px;
  display: flex;
}

.movie-info-row {
  padding: 35px;
}

.movie-info-col {
  display: flex;
  justify-content: center;
}

.movie-info-row img {
  width: 300px;
  height: 450px;
}

.movie-info-text {
  text-align: left;
  padding: 10px;
}

.movie-info .movie-btn {
  padding: 8px;
  width: 150px;
  justify-content: center;
}

/*----- Booking Page -----*/
.book-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theater-layout {
  display: grid;
  justify-content: center;
}

.filter-movie-booking {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ticket-type-booking {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ticket-type-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.ticket-type-text {
  width: 80px;
}

.ticket-type-text h4, h5 {
  margin: 2px;
}

.ticket-type-row button {
  width: 25px;
  height: 25px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.book-tickets .movie-btn {
  width: 110px;
  padding: 8px;
  margin: 20px auto;
}

.book-tickets a {
  color: white;
  text-decoration: none;
}

.book-tickets-cancellation-link {
  color: white;
}

/*----- Footer -----*/
.footer {
  color: white;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.26);
  padding: 5px;
}

.footer a{
  color: white;
}

/*---------------------------*/
/*-----      ADMIN      -----*/
/*---------------------------*/

/*----- Admin View -----*/
.admin-view {
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding: 100px 150px;
  margin: 50px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  width:40%;
}

.admin-view h3{
  color: gray;
  padding: 20px;
  text-align: center;
  background-color: white;
  width: 35%;
  margin-left: 29%;
}

.admin-view a{
  text-decoration: none;
}

/*----- Manage Movies -----*/
.add-movie {
  padding: 0;
  margin-top: 20px;
}

.add-movie a {
  color: white;
  float: right;
  text-decoration: underline;
  padding: 0px 80px;
  margin: 0;
}

/*----- Manage Promotions -----*/
.manage-promos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.promo-options {
  align-items: center;
}

.add-promo {
  margin-top: 40px;
  border-radius: 20px;
}

.add-promo input{
  text-align: center;
  width: 95%;
  padding: 12px 16px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid rgb(173, 171, 171);
  box-sizing: border-box;
  border-radius: 10px;
}

table {
  margin-left: 0;
  margin-right: 0;
}

table, th, td {
  border: 1px solid white;
  text-align: center;
}

th, td {
  padding: 10px;
}

.selectPromo {
  margin-left: 8%;
}
